body {
    /* Fill the entire width of the screen for seamless telescope */
    width: 100vw;
}

.page-section {
    min-height: 100vh;
    /* min-height: 500px; */
    /* background-image: url(https://WHATEVER); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.page-section__text {
    background-color: #c1c1b2;
    box-shadow: 3px 3px #000;
    color: black;
}

.page-section__text h1 {
    margin-top: 10px;
}

.page-section--team {
    /* Can be very tall on mobile so use alt color below image */
    background-color: #ccc;
    background-position: top;
    background-size: auto;
}
.page-section--team .jumbotron {
    /* In case the jumbotron is the wrong color: */
    background-color: #e9ecef;
}

.card {
    background-color: #fff;
    box-shadow: 3px 3px #000;
    border-radius: 6px;
}

.card__body {
    color: black;
}

.card__body-headline {
    margin: 5px 0;
}

.card__body-subtitle {
    margin: 3px 0;
}

/* .card__media {
    DON'T LIKE THE LOOK OF THIS
    box-shadow: 0 1px 2px rgba(0, 0, 0);
} */

.card__actions {
    margin-bottom: 10px;
}

#goto-telescope:not(.active) {
    /* Hide at start. */
    opacity: 0%;
    display: none;
}

/* Parallax scrolling background images */
.parallax--background {
    height: 90vh;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
@media screen and (max-width: 1200px) {
    .parallax--background {
        /* Tablets and smaller should stretch the image X axis offscreen
        to see the parallax effect. */
        background-size: 130vw;
    }
}
@media screen and (max-width: 600px) {
    .parallax--background {
        background-size: 350vw;
    }
}

/* .parallax--content {
    position: absolute;
} */

.parallax--divider {
    height: 100px;
    max-height: 20vh;
}